/* reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, p, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* Set core root defaults */
html {
  /* Sets up the Base 10 */
  font-size: 62.5%;
  font-family: "Open Sans";
}

/* _typography */
@font-face {
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

/* font colors */
/* breakpoints */
/* elements */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.2rem;
}

body {
  font-size: 1.6rem;
  color: #515151;
}

.navbar-container {
  padding: 10px 24px 24px 0;
  width: 90%;
  min-height: 64px;
  margin: 0 auto;
  font-size: 1.6rem;
}

.logo-container {
  float: left;
  min-height: 32px;
}

.logo-container .logo-name {
  padding: 10px 0 0 20px;
  color: #8A97A8;
  font-size: 1.6rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.logo-container .logo-name strong {
  color: #01161E;
}

.logo {
  float: left;
  padding: 1rem 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 7rem;
  padding-top: 2.5rem;
  margin: 0 8px 0 8px;
}

nav a {
  color: #515151;
  text-decoration: none;
}

nav a:hover {
  color: #8A97A8;
}

.banner-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0 32px 24px;
  background-color: #d8d8d8;
}

.banner-container img {
  float: left;
  width: 60%;
  padding-right: 24px;
}

.banner-container .cta-container {
  margin-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
  text-align: left;
}

.banner-container .cta-container button {
  margin-top: 20px;
  width: 240px;
  padding: 8px 0 8px 0;
  border: none;
  color: white;
  background-color: #808080;
}

.midsection-container {
  width: 100%;
  padding: 32px 0 32px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.midsection-container .mid-left-container {
  width: 60%;
}

.midsection-container .mid-left-container img {
  width: 97%;
}

.midsection-container .mid-left-container div {
  margin: 32px 24px 0 0;
}

.midsection-container .mid-left-container h2 {
  margin: 32px 24px 0 0;
}

.mid-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding: 0 0 0 16px;
}

.mid-right-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0 16px 16px;
}

.mid-right-container div img {
  width: 35%;
  height: auto;
}

.mid-right-container div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
}

.mid-right-container div div a {
  text-decoration: none;
}

.learning-section-container {
  padding: 32px 72px 32px 72px;
  background-color: #d8d8d8;
}

.learning-section-container h2 {
  margin-bottom: 32px;
  text-align: center;
}

.learning-courses-grid-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.learning-courses-grid-parent div {
  min-height: 120px;
}

.learning-courses-grid-parent div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.learning-courses-grid-parent div div {
  background: white;
  padding: 16px 0 0 16px;
}

.learning-courses-grid-parent div div h6 {
  margin: 8px 0 8px 0;
  text-transform: uppercase;
}

.learning-courses-grid-parent .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.learning-courses-grid-parent .div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.learning-courses-grid-parent .div3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

.learning-courses-grid-parent .div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.learning-courses-grid-parent .div5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.learning-courses-grid-parent .div6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.thesis-section-container {
  padding: 32px 0 32px 24px;
}

.thesis-section-container h2 {
  margin-bottom: 32px;
  text-align: center;
}

.thesis-section-container .thesis-exhibit-grid-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
}

.thesis-section-container .thesis-exhibit-grid-parent .thesis-section-left-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.thesis-section-container .thesis-exhibit-grid-parent .thesis-section-left-container video {
  width: 100%;
}

.thesis-section-container .thesis-exhibit-grid-parent .thesis-section-left-container div {
  margin-top: 24px;
}

.thesis-section-container .thesis-exhibit-grid-parent .thesis-section-left-container div h5 {
  padding-bottom: 8px;
}

.thesis-section-container .thesis-exhibit-grid-parent .thesis-section-right-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  padding: 16px 0 16px 16px;
  background-color: #d8d8d8;
}

.thesis-section-container .thesis-exhibit-grid-parent .thesis-section-right-container img {
  height: auto;
  margin: 0 16px 16px 0;
}

.thesis-section-container .thesis-exhibit-grid-parent .thesis-section-right-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.thesis-section-container .thesis-exhibit-grid-parent .thesis-section-right-container div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thesis-section-container .thesis-exhibit-grid-parent .thesis-section-right-container div div h5 {
  margin-bottom: 16px;
}

footer {
  height: auto;
  font-family: "Open Sans";
  padding: 16px 10px 24px 24px;
  min-height: 10rem;
}

.footer-content {
  text-align: center;
}

.footer-content h6 {
  float: left;
}

.footer-content .footer-links {
  float: right;
}

.footer-content .footer-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-content .footer-links ul li {
  display: inline-block;
  margin: 0 8px 0 8px;
}

.footer-content .footer-links ul a {
  color: #515151;
  text-decoration: none;
}

.footer-content .footer-links ul a:hover {
  color: #8A97A8;
}

/* media queries */
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=style.css.map */