@use 'root';
@use 'mediaQueries';

/* Set core root defaults */
html {
  /* Sets up the Base 10 */
  font-size: 62.5%;
}

/* _typography */
@font-face {
  font-family: "Open Sans";
  src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  color: root.$font-primary-grey;
}

//https://www.youtube.com/watch?v=wARbgs5Fmuw
//to set responsive font size
//1) set up global font  sizes in rems
//2) use clamp(min, growth rate, max) only for h1 
//3) setup media queries


/* h1,h2,h3,h4,h5,h6 */
$starting-font-size:2.8rem;

@include mediaQueries.breakpoint(medium) {
  $starting-font-size:3rem;
}

@for $i from 1 to 6 {
    
    h#{$i}{
        // @debug "font-size #{$starting-font-size}";
        font-size: $starting-font-size;
        font-weight: normal;
    }
    $starting-font-size: $starting-font-size - root.$base-font-size;

}

@include mediaQueries.breakpoint(medium){
  .learning-plain{
    display: none;
  }
}