@use 'root';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px 18px 24px;

  .logo {
    display: flex;
    align-items: center;

    img {
      cursor: pointer;
    }
  }

  nav{
    ul {
      list-style: none;
  
      li {
        display: inline-block;
        padding: 0 8px 0 8px;
  
        a {
          color: root.$font-primary-grey;
          text-decoration: none;
          transition: all 0.3s ease 0s;
  
          &:hover {
            background-color: root.$light-grey;
          }
        }
      }
    }
  }

  
  
}
