/* font colors */
$font-primary-grey: #515151;
$font-primary-grey-lighter: #8a97a8;
$font-primary-grey-darker: #01161e;

$light-grey: #d8d8d8;
$slight-grey: #9d9d9d;
$dark-grey: #808080;

$base-font-size: 0.2rem;
