/* reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove default margin */
body,h1,h2,h3,h4,p,li,figure,figcaption,blockquote,dl,dd {
  margin: 0;
}

/* Set core root defaults */
html{

  /* Sets up the Base 10 */
  font-size: 62.5%;
  font-family: "Open Sans";

}

/* _typography */
@font-face {
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

/* font colors */
$font-primary-grey:#515151;
$font-primary-grey-lighter: #8A97A8;
$font-primary-grey-darker: #01161E;

$light-grey:#d8d8d8;
$slight-grey:#9d9d9d;
$dark-grey:#808080;

/* breakpoints */
$breakpoint-mobile:720px;

/* elements */
h1{
  font-size: 3rem;
}

h2{
  font-size: 2.8rem;
}

h3{
  font-size: 2.6rem;
}

h4{
  font-size: 2.4rem;
}

h5{
  font-size: 2.2rem;
}

body{
  font-size: 1.6rem;
  color: $font-primary-grey;
}

.navbar-container{
  // padding-top: 10px;
  padding: 10px 24px 24px 0;
  width: 90%;
  min-height: 64px;
  margin: 0 auto;
  font-size: 1.6rem;
}

.logo-container{
  float: left;
  min-height: 32px;
  
  .logo-name{
    padding: 10px 0 0 20px;
    color: $font-primary-grey-lighter;
    font-size: 1.6rem;
    text-transform: uppercase; 
    white-space: nowrap;
    
    strong{
      color: $font-primary-grey-darker;
    }
   }
}

.logo{
  float: left;
  padding: 1rem 0;
}

nav{
  float: right;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li{
    display: inline-block;
    margin-left: 7rem;
    padding-top: 2.5rem;
    margin: 0 8px 0 8px;
  }

  a{
    color: $font-primary-grey;
    text-decoration: none;
    

    &:hover{
      color: $font-primary-grey-lighter;
    }

  }
}

.banner-container{
  width: 100%;
  display: flex;
  padding: 32px 0 32px 24px;
  background-color: $light-grey;

  img{
    float: left;
    width: 60%;
    padding-right: 24px;
  }

  .cta-container{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    text-align: left;


    button{
      margin-top: 20px;
      width: 240px;
      padding: 8px 0 8px 0;
      border: none;
      color: white;
      background-color: $dark-grey;
    }


  }

}

.midsection-container{
  width: 100%;
  padding: 32px 0 32px 24px;
  display: flex;

  .mid-left-container{
    width: 60%;
    img{
      width: 97%;
    }

    div{
      margin: 32px 24px 0 0;
    }

    h2{
      margin: 32px 24px 0 0;
    }

  }

}

.mid-right-container{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0 0 0 16px;

  div{
    display: flex;
    padding: 16px 0 16px 16px;
    
    img{
      width: 35%;
      height: auto;
    }

    div{
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      row-gap: 10px;

      a{
        text-decoration: none;
      }
      
    }

  }
}

.learning-section-container{
  padding: 32px 72px 32px 72px;
  
  background-color: $light-grey;

  h2{
    margin-bottom: 32px;
    text-align: center;
  }
}

.learning-courses-grid-parent{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;

  div{
    min-height: 120px;
    img{
      object-fit: cover;
      width: 100%;
    }

    div{
      background: white;
      padding: 16px 0 0 16px;

      h6{
        margin: 8px 0 8px 0;
        text-transform: uppercase;
      }
    }
  }

  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 1 / 3 / 2 / 4; }
  .div4 { grid-area: 2 / 1 / 3 / 2; }
  .div5 { grid-area: 2 / 2 / 3 / 3; }
  .div6 { grid-area: 2 / 3 / 3 / 4; }

}

.thesis-section-container{
  padding: 32px 0 32px 24px;
  h2{
    margin-bottom: 32px;
    text-align: center;
  }

  .thesis-exhibit-grid-parent{
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0px;

    .thesis-section-left-container { 
      grid-area: 1 / 1 / 2 / 2; 

      video{
        width: 100%;
      }

      div{
        margin-top: 24px;

        h5{
          padding-bottom: 8px;
        }
      }
    }
    .thesis-section-right-container { 
      grid-area: 1 / 2 / 2 / 3; 
      padding: 16px 0 16px 16px;
      // outline: solid;
      background-color: $light-grey;


      img{
        height: auto;
        margin: 0 16px 16px 0;
      }

      div{
        display: flex;
        margin-bottom: 16px;

        div{
          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: center;

          h5{
            margin-bottom: 16px;
          }
        }
      }
    }


  }
}






/* media queries */
@media only screen and (max-width: $breakpoint-mobile) {

  h1{
    font-size: 2.6rem;
  }

  h2{
    font-size: 2.4rem;
  }

  h3{
    font-size: 2.2rem;
  }

  h4{
    font-size: 2rem;
  }

  h5{
    font-size: 1.8rem;
  }

}