@use 'scss' as *;

/* breakpoints */
$breakpoint-mobile:720px; 

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px 18px 24px;

  .logo-container{
    display: flex;
    align-items: center;

    img{
      cursor: pointer;
    }
  }

  ul{
    list-style: none;

    li{
      display: inline-block;
      padding: 0 8px 0 8px;
  
      a{
        color: $font-primary-grey;
        text-decoration: none;
        transition: all 0.3s ease 0s;

        &:hover{
          background-color: $light-grey;
        }
      }
    }
  }

}

.banner-container{
  width: 100%;
  display: flex;
  padding: 32px 0 32px 24px;
  background-color: $light-grey;

  img{
    float: left;
    width: 60%;
    padding-right: 24px;
  }

  .cta-container{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    text-align: left;


    button{
      margin-top: 20px;
      width: 240px;
      padding: 8px 0 8px 0;
      border: none;
      color: white;
      background-color: $dark-grey;
    }


  }

}

.midsection-container{
  width: 100%;
  padding: 32px 0 32px 24px;
  display: flex;

  .mid-left-container{
    width: 60%;
    img{
      width: 97%;
    }

    div{
      margin: 32px 24px 0 0;
    }

    h2{
      margin: 32px 24px 0 0;
    }

  }

}

.mid-right-container{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0 0 0 16px;

  div{
    display: flex;
    padding: 16px 0 16px 16px;
    
    img{
      width: 35%;
      height: auto;
    }

    div{
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      row-gap: 10px;

      a{
        text-decoration: none;
      }
      
    }

    &:hover{
      background-color: $light-grey;
    }

  }
}

.learning-section-container{
  padding: 32px 72px 32px 72px;
  
  background-color: $light-grey;

  h2{
    margin-bottom: 32px;
    text-align: center;
  }
}

.learning-courses-grid-parent{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;

  div{
    min-height: 120px;
    img{
      object-fit: cover;
      width: 100%;
    }

    div{
      background: white;
      padding: 16px 0 0 16px;

      h6{
        margin: 8px 0 8px 0;
        text-transform: uppercase;
      }
    }
  }

  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 1 / 3 / 2 / 4; }
  .div4 { grid-area: 2 / 1 / 3 / 2; }
  .div5 { grid-area: 2 / 2 / 3 / 3; }
  .div6 { grid-area: 2 / 3 / 3 / 4; }

}

.thesis-section-container{
  padding: 32px 0 32px 24px;
  h2{
    margin-bottom: 32px;
    text-align: center;
  }

  .thesis-exhibit-grid-parent{
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0px;

    .thesis-section-left-container { 
      grid-area: 1 / 1 / 2 / 2; 

      video{
        width: 100%;
      }

      div{
        margin-top: 24px;

        h5{
          padding-bottom: 8px;
        }
      }
    }
    .thesis-section-right-container { 
      grid-area: 1 / 2 / 2 / 3; 
      padding: 16px 0 16px 16px;

      img{
        height: auto;
        margin: 0 16px 16px 0;
      }

      div{  
        display: flex;
        margin-bottom: 16px;

        div{
          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: center;

          h5{
            margin-bottom: 16px;
          }
        }

        &:hover{
          background-color: $light-grey;
        }
      }
    }


  }
}

footer{
  // background-color: skyblue;
  height: auto;
  font-family: "Open Sans";
  padding: 16px 10px 24px 24px;
  min-height: 10rem;
}

.footer-content{
  text-align: center;


  h6{
    float: left;
  }

  .footer-links{
    float: right;

    ul{
      margin: 0;
      padding: 0;
      list-style: none;
    
      li{
        display: inline-block;
        margin: 0 8px 0 8px;
      }
    
      a{
        color: $font-primary-grey;
        text-decoration: none;
        
        &:hover{
          color: $font-primary-grey-lighter;
        }
    
      }
    }
  }

}


/* media queries */
@media screen and (min-width: $breakpoint-mobile) {
  .mobile-logo{
    display: none;
  }
  
}
@media screen and (max-width: $breakpoint-mobile) {

  h1{
    font-size: 2.6rem;
  }

  h2{
    font-size: 2.4rem;
  }

  h3{
    font-size: 2.2rem;
  }

  h4{
    font-size: 2rem;
  }

  h5{
    font-size: 1.8rem;
  }

  header{
    .logo-container{
      width: 100%;
      justify-content: space-evenly;
    }
  }

  .desktop{
    display: none;
  }

  .banner-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 32px 0;

    img{
      clear: both;
      width: 100%;
      padding-right: 0;
    }

    .cta-container{
      padding: 32px 16px 32px 16px;
    }
  }

  .midsection-container{
    margin:0;
    padding: 16px 0 32px 16px;

    .mid-right-container{
      width: 100%;
      padding: 0;

      div{
        flex-direction: column;
        // align-items: stretch;
        // resize: both;
        // overflow: auto;
        padding-right: 32px;

        img{
          max-width: 100%;
          max-height: 100%;
          width: 100%;
          object-fit: contain;
        }

      }
    }
  }

  .learning-section-container{
    padding: 32px 16px 32px 16px;
    background: white;
    outline: solid;
    outline-width: thin;
  }

  .learning-plain{
    display: flex;
    flex-direction: column;
    div{
      background-color: $light-grey;
      color: $font-primary-grey-darker;
      margin-bottom: 8px;
      padding: 16px 0 24px 16px;
    }
  }

  .thesis-section-container{
    padding: 0;
  }

 .thesis-exhibit-grid-parent{
  grid-template-columns: 1fr !important;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

   .thesis-section-left-container {
    grid: area 0; 
   }

 }

 footer{
   margin-top: 24px;

   .footer-content{
     padding: 16px 0 16px 0;
   }
 }
}